<%= form_with(model: primary_model) do |form| %>
  <% if primary_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(primary_model.errors.count, "error") %> prohibited this primary_model from being saved:</h2>

      <ul>
        <% primary_model.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
