<p id="notice"><%= notice %></p>

<h1>Primary Models</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @primary_models.each do |primary_model| %>
      <tr>
        <td><%= primary_model.name %></td>
        <td><%= link_to 'Show', primary_model %></td>
        <td><%= link_to 'Edit', edit_primary_model_path(primary_model) %></td>
        <td><%= link_to 'Destroy', primary_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Primary Model', new_primary_model_path %>
